<!--Quantity update form for the cart template-->
<form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div>
            <select class="w-25 qty-select quantity-select" name="quantity">
                        {% for i in item.quantity_range %}
                            <option value="{{ i }}"
                                {% if i == item.quantity %}selected{% endif %}>
                                {{ i }}
                            </option>
                        {% endfor %}
                </select>
            <!--If product has sizes submit the value to the database-->
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="remove-item text-danger ml-2" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
    Remove
</a>