<!--Quantity update form for the cart template-->
<form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            
        <select name="quantity" class="qty-select">
            {% for i in item.quantity_range %}
                <option value="{{ i }}"
                    {% if i == item.quantity %}selected{% endif %}>
                    {{ i }}
                </option>
            {% endfor %}
        </select>
            <!--If product has sizes submit the value to the database-->
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-info ml-2 update-remove"><i class="fa-regular fa-square-plus"></i></i></a> or
<a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small><i class="fa-solid fa-trash"></small></i></a>