{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-med-6 my-auto">
            <h1 class=" glow display-4 logo-font text-black">The new collections are here</h1>
            <div class="my-5 glow-custom">
                <h4>
                    <a href="" class="btn-danger btn btn-lg rounded text-uppercase py-3 border border-white">Shop now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}