<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-arrivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=selling_price&directions=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=discounted_price&directions=asc" class="dropdown-item ">Sale</a>
                <a href="{% url 'products' %}?sort=category&directions=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dresses" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=new_in" class="dropdown-item">New In</a>
                <a href="{% url 'products' %}?category=spring_summer" class="dropdown-item">Spring/Summer</a>
                <a href="{% url 'products' %}?category=casual" class="dropdown-item">Casual</a>
                <a href="{% url 'products' %}?category=partywear" class="dropdown-item">Partywear</a>
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=jewellery" class="dropdown-item">Jewellery</a>
                <a href="{% url 'products' %}?category=anarkali,kurtas_tops,lehngas,suits_sets,unstitched" class="dropdown-item">Indian</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=spring_summer" id="spring/summer-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Spring/Summer
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=casual" id="casual" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Casual
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=party_wear" id="partywear-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Partywear
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=dresses" id="footwear-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Dresses
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=jewellery" id="jewellery-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="indian-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indian
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="indian-link">
                <a href="{% url 'products' %}?category=suits_sets" class="dropdown-item">Suit sets</a>
                <a href="{% url 'products' %}?category=kurtas_tops" class="dropdown-item">Kurtas &amp; Tops</a>
                <a href="{% url 'products' %}?category=lehngas" class="dropdown-item">Lehngas</a>
                <a href="{% url 'products' %}?category=anarkali" class="dropdown-item">Anarkali suit sets</a>
                <a href="{% url 'products' %}?category=unstitched" class="dropdown-item">Unstiched suits</a>
                <a href="{% url 'products' %}?category=anarkali,kurtas_tops,lehngas,suits_sets,unstitched" class="dropdown-item">All Indian</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale & Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_in" class="dropdown-item">New In</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_in,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>